.home.slogan {
  font-size: 32px;
}

.css-typing h1 {
  overflow: hidden;
  height: 42px;
  white-space: nowrap;
}
.css-typing h1:nth-child(1) {
  width: 100%;
  -webkit-animation: type 2s steps(140, end);
  animation: type 2s steps(140, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h1:nth-child(2) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type2 2s steps(140, end);
  animation: type2 2s steps(140, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h1:nth-child(3) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type3 2s steps(140, end),
    blink 0.5s step-end infinite alternate;
  animation: type3 2s steps(140, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h1:nth-child(4) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type2 2s steps(140, end);
  animation: type2 2s steps(140, end);
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

.home.genre.box {
  margin-bottom: 35px;
}

.d-block.d-md-flex.podcast-entry.bg-white.mb-5 {
  background: #4f4f4f !important;
  height: 146px;
}
